html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a,
svg,
button {
  transition: 0.3s all;
}

a {
  text-decoration: none;
}

input,
textarea,
button {
  font-family: inherit;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 300px;
  font-family: $font-main;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: inside;

  span {
    color: #808080;
  }
}

.main {
  flex-grow: 1;
  overflow-x: hidden;
  margin-top: 45px;
  background-color: $light;
}

.green {
  background-color: $green;

  &:hover {
    background-color: #629b58;
  }
}

.blue {
  background-color: $blue;

  &:hover {
    background-color: #4f99c6;
  }
}

.yellow {
  background-color: $yellow;

  &:hover {
    background-color: #e59729;
  }
}

.red {
  background-color: $red;

  &:hover {
    background-color: #b74635;
  }
}

.col {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.row {
  @include r($mobile) {
    flex-direction: column;
    gap: 30px;
  }
}

.print {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 14px;
  color: #70A0C1;
  padding: 4px 10px;
  background-color: transparent;
  &:hover {
    background-color: #eef5fa;
    i {
      font-size: 20px;
    }
  }

  i {
    font-size: 16px;
    text-align: center;
  }

  @include r($mobile) {
    align-self: flex-end;
  }
}

.mobile-only {
  @include rmin($mobile + 1) {
    display: none;
  }
}

.mob-hidden {
  @include r($mobile) {
    display: none;
  }
}
