// Colors
$black: #000000;
$light: #FFFFFF;
$accent: #b23d3b;
$accent-dark: #b00000;
$green: #87b87f;
$blue: #6fb3e0;
$yellow: #ffb752;
$red: #d15b47;
$gray: #777777;

// Fonts
$font-main: 'Open Sans', sans-serif;

// media
$mobile: 991;
