<!DOCTYPE html>
<html lang="ru">

<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
  <section class="sidebar" id="sidebar"></section>
  <section class="page-content">
    <div class="page-content__header" data-content-header>
      <h1 class="title">Просмотр информации о ВСД</h1>
      <div class="page-content__toolbox">
        <form action="#" class="form form--small">
          <label class="form__item">
                    <span class="input">
                      <input type="text" data-code maxlength="39" placeholder="поиск по коду ветеринарного документа">
                      <button type="submit" class="btn btn-sm btn-default">
                          <span>
                              <i class="fa fa-search"></i>
                          </span>
                      </button>
                  </span>
          </label>
        </form>
        <button class="print">
          <i class="ace-icon fa fa-print bigger-110"></i>
          <span>Печать</span>
        </button>
      </div>
    </div>
    <form class="info" action="#">
      <div class="info__block">
        <div class="info__header">
          <h2 class="info__title">Общие сведения</h2>
        </div>
        <div class="info__detail">
          <div class="info__item">
            <div class="info__name">
              <p>Статус</p>
            </div>
            <div class="info__value">
              <div class="label label--warning">погашен</div>
            </div>
          </div>
          <div class="info__item">
            <div class="info__name">
              <p>Номер ВСД</p>
            </div>
            <div class="info__value">
              <p>22821693087</p>
            </div>
          </div>
          <div class="info__item">
            <div class="info__name">
              <p>Уникальный идентификатор ВСД</p>
            </div>
            <div class="info__value">
              <p>6F90-40A3-ED99-45EC-B561-DCF4-76C2-AF88</p>
            </div>
          </div>
          <div class="info__item">
            <div class="info__name">
              <p>Дата оформления</p>
            </div>
            <div class="info__value">
              <p>20.02.2024 16:50:16 МСК<br>
                20.02.2024 15:50:16 МСК-1</p>
            </div>
          </div>
          <div class="info__item">
            <div class="info__name">
              <p>Наименование и форма ВСД</p>
            </div>
            <div class="info__value">
              <p>Ветеринарное свидетельство. Форма № 2</p>
            </div>
          </div>
          <div class="info__item">
            <div class="info__name">
              <p>Способ оформления</p>
            </div>
            <div class="info__value">
              <p>шлюз ВетИС.API</p>
            </div>
          </div>
          <div class="info__item">
            <div class="info__name">
              <p>Защищенный бланк ВСД</p>
            </div>
            <div class="info__value">
              <p></p>
            </div>
          </div>
          <div class="info__item">
            <div class="info__name">
              <p>Регионализация</p>
            </div>
            <div class="info__value">
              <p>Согласно правилам регионализации данная продукция может перемещаться в адрес указанного получателя</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-lg-6 col-md-12">
          <div class="info__block">
            <div class="info__header">
              <h2 class="info__title">Информация о продукции</h2>
            </div>
            <div class="info__detail">
              <div class="info__item">
                <div class="info__name">
                  <p>Номер производственной партии</p>
                </div>
                <div class="info__value">
                  <ul>
                    <li>240212018564</li>
                  </ul>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Название продукции</p>
                </div>
                <div class="info__value">
                  <p>Наггетсы куриные с сыром 300г*12 (3,6кг) Мираторг Россия</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Артикул</p>
                </div>
                <div class="info__value">
                  <p>1010018564</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Объём</p>
                </div>
                <div class="info__value">
                  <p>4906.8 кг</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Дата выработки продукции</p>
                </div>
                <div class="info__value">
                  <p>12.02.2024</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Годен до</p>
                </div>
                <div class="info__value">
                  <p>12.04.2025</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Результат лабораторного исследования</p>
                </div>
                <div class="info__value">
                  <p>КИЛ ФГБУ "ВНИИЗЖ", эксп. № 23.П1/8463КВ от 17.10.2023 г. (Пестициды, отрицательный); КИЛ ФГБУ
                    "ВНИИЗЖ", эксп. № 23.П1/8463КВ от 17.10.2023 г. (Токсичные элементы, отрицательный); КИЛ ФГБУ
                    "ВНИИЗЖ", эксп. № 23.П1/8463КВ от 17.10.2023 г. (Амфениколы, отрицательный); КИЛ ФГБУ "ВНИИЗЖ",
                    эксп. № 23.П1/8462КВ от 17.10.2023 г. (Микробиологические показатели, отрицательный); КИЛ ФГБУ
                    "ВНИИЗЖ", эксп. № 23.П1/8463КВ от 17.10.2023 г. (Полипептиды, отрицательный); КИЛ ФГБУ "ВНИИЗЖ",
                    эксп. № 23.П1/8463КВ от 17.10.2023 г. (Антибиотики тетрациклиновой гр, отрицательный)</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Упаковка</p>
                </div>
                <div class="info__value">
                  <p>Дополнительный уровень</p>
                  <ul>
                    <li>Упаковка (PK), 1 363 шт., маркировка: 240212018564 <span>(Номер партии (BN)</span>),
                      240212018564 <span>(Не определен)</span></li>
                  </ul>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Благополучие местности</p>
                </div>
                <div class="info__value">
                  <p>Местность благополучна по заразным болезням животных, кроме лейкоза КРС и алеутской болезни
                    норок</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Цель</p>
                </div>
                <div class="info__value">
                  <p>реализация в пищу людям</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Ветеринарно-санитарная экспертиза</p>
                </div>
                <div class="info__value">
                  <p>изготовлена из сырья, прошедшего ветеринарно-санитарную экспертизу</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Особые отметки</p>
                </div>
                <div class="info__value">
                  <p>Россия - Литва - Латвия - Россия</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Номер и дата входящего ВСД</p>
                </div>
                <div class="info__value">
                  <p></p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Номер и дата производственного ВСД</p>
                </div>
                <div class="info__value">
                  <p>№ 22710489273 от 12.02.2024</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Примечание</p>
                </div>
                <div class="info__value">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-lg-6 col-md-12">
          <div class="info__block">
            <div class="info__header">
              <h2 class="info__title">Сведения о транспорте</h2>
            </div>
            <div class="info__detail">
              <div class="info__item">
                <div class="info__name">
                  <p>Тип транзакции</p>
                </div>
                <div class="info__value">
                  <p>перевозка со сменой владельца</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Тип транспорта</p>
                </div>
                <div class="info__value">
                  <p>Автомобильный</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Номер автомашины / полуприцепа /<br> контейнера</p>
                </div>
                <div class="info__value">
                  <p>Р 777 УВ 39 / АТ 0967 39 RUS / —</p>
                  <img class="flag" src="./assets/images/russia.png" alt="">
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Способ хранения при перевозке</p>
                </div>
                <div class="info__value">
                  <p>замороженные</p>
                </div>
              </div>
            </div>
          </div>
          <div class="info__block">
            <div class="info__header">
              <h2 class="info__title">Сведения об оформлении</h2>
            </div>
            <div class="info__detail">
              <div class="info__item">
                <div class="info__name">
                  <p>Учреждение</p>
                </div>
                <div class="info__value">
                  <p>ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "МИРАТОРГ ЗАПАД", ИНН: 3906072585</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>ФИО</p>
                </div>
                <div class="info__value">
                  <p>Есекенова Айнур Мурзагуловна</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Должность</p>
                </div>
                <div class="info__value">
                  <p>ветеринарный врач</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Контактный телефон</p>
                </div>
                <div class="info__value">
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <div class="info__block">
            <div class="info__header">
              <h2 class="info__title">Сведения о гашении</h2>
            </div>
            <div class="info__detail">
              <div class="info__item">
                <div class="info__name">
                  <p>Кто погасил</p>
                </div>
                <div class="info__value">
                  <p>Начёвкина Наталия Владимировна</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Дата гашения</p>
                </div>
                <div class="info__value">
                  <p>26.02.2024 11:13:42 МСК</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-lg-6 col-md-12">
          <div class="info__block">
            <div class="info__header">
              <h2 class="info__title">Сведения о происхождении продукции</h2>
            </div>
            <div class="info__detail">
              <div class="info__item">
                <div class="info__name">
                  <p>Страна происхождения</p>
                </div>
                <div class="info__value">
                  <p>Российская Федерация</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Выработанная</p>
                </div>
                <div class="info__value">
                  <p><b>ХС:</b> ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "МИРАТОРГ ЗАПАД" (ИНН: 3906072585) <b>на площадке:</b> ООО
                    "Мираторг Запад" (Российская Федерация, Калининградская обл., Гурьевский район, п. Невское,
                    Совхозная ул., д. 12)</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Наименование продукции при производстве</p>
                </div>
                <div class="info__value">
                  <p>Наггетсы куриные с сыром 300г*12 (3,6кг) Мираторг Россия</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Артикул производителя</p>
                </div>
                <div class="info__value">
                  <p>1010003897</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>GTIN</p>
                </div>
                <div class="info__value">
                  <p>44607177073086</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Документ, подтверждающий происхождение</p>
                </div>
                <div class="info__value">
                  <a href="#">№ 22710489273 от 12.02.2024</a>
                  <div class="label label--success">оформлен</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-lg-6 col-md-12">
          <div class="info__block">
            <div class="info__header">
              <h2 class="info__title info__title--meta" data-show-hidden>
                Служебная информация
                <i class="fa fa-angle-double-down"></i>
                <i class="fa fa-angle-double-up" style="display: none"></i>
              </h2>
            </div>
            <div class="info__detail" data-show-content style="display: none;">
              <div class="info__item">
                <div class="info__name">
                  <p>Уникальный идентификатор версии номенклатуры (UUID)</p>
                </div>
                <div class="info__value">
                  <p>
                    отсутствует
                    <sup>
                      <i class="ace-icon fa fa-question-circle-o blue" data-original-title="Идентификатор отсутствует, так как продукция задана не из справочника"></i>
                    </sup>
                  </p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Глобальный идентификатор номенклатуры (GUID)</p>
                </div>
                <div class="info__value">
                  <p>отсутствует
                    <sup>
                      <i class="ace-icon fa fa-question-circle-o blue" data-original-title="Идентификатор отсутствует, так как продукция задана не из справочника"></i>
                    </sup>
                  </p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Уникальный идентификатор версии продукции при производстве (UUID)</p>
                </div>
                <div class="info__value">
                  <p>f09e193d-7d35-4856-bd58-d23a681cd095</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Глобальный идентификатор продукции при производстве (GUID)</p>
                </div>
                <div class="info__value">
                  <p>62ff53a6-a705-4820-a120-21e78937d525</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-lg-6 col-md-12">
          <div class="info__block">
            <div class="info__header">
              <h2 class="info__title">Сведения о получателе</h2>
            </div>
            <div class="info__detail">
              <div class="info__item">
                <div class="info__name">
                  <p>Название предприятия</p>
                </div>
                <div class="info__value">
                  <p>ООО "Трио-Инвест" (142030, Российская Федерация, Московская обл., г. Домодедово, Трио-Инвест-Ям тер., стр. 1)</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Хозяйствующий субъект (владелец продукции)</p>
                </div>
                <div class="info__value">
                  <p>ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "ТОРГОВАЯ КОМПАНИЯ "МИРАТОРГ", ИНН: 5009072150</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-lg-6 col-md-12">
          <div class="info__block">
            <div class="info__header">
              <h2 class="info__title">Сведения об отправителе</h2>
            </div>
            <div class="info__detail">
              <div class="info__item">
                <div class="info__name">
                  <p>Название предприятия</p>
                </div>
                <div class="info__value">
                  <p>ООО "Мираторг Запад" (Российская Федерация, Калининградская обл., Гурьевский район, п. Невское, Совхозная ул., д. 12)</p>
                </div>
              </div>
              <div class="info__item">
                <div class="info__name">
                  <p>Хозяйствующий субъект (владелец продукции)</p>
                </div>
                <div class="info__value">
                  <p>ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ "МИРАТОРГ ЗАПАД", ИНН: 3906072585</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="info__block">
        <div class="info__header">
          <h2 class="info__title">Сведения о документах</h2>
        </div>
        <table class="info__table table table-striped table-bordered">
          <thead>
            <tr>
              <th>Серия</th>
              <th>Номер</th>
              <th>Дата</th>
              <th>Тип</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td>240215-17/МСК-Т</td>
              <td>20.02.2024</td>
              <td>Транспортная накладная</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="info__block">
        <div class="info__header">
          <h2 class="info__title">Лабораторные исследования</h2>
        </div>
        <div class="info__scroll">
          <table class="info__table info__table--accent table table-striped table-bordered">
            <thead>
            <tr>
              <th>Номер акта отбора проб</th>
              <th>Дата отбора проб</th>
              <th>Наименование лаборатории</th>
              <th>Наименование показателя</th>
              <th>Дата получения результата</th>
              <th>Метод исследования</th>
              <th>№ экспертизы</th>
              <th>Результат исследования</th>
              <th>Заключение</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td></td>
              <td></td>
              <td>КИЛ ФГБУ "ВНИИЗЖ"</td>
              <td>Микробиологические показатели</td>
              <td>17.10.2023</td>
              <td>ГОСТ 32031,31746,31747,31659</td>
              <td>23.П1/8462КВ</td>
              <td>
                <div class="label label--success">отрицательный</div>
              </td>
              <td>соот ТР ТС 021, ТР ЕАЭС 051</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>КИЛ ФГБУ "ВНИИЗЖ"</td>
              <td>Амфениколы</td>
              <td>17.10.2023</td>
              <td>МУК 4.1.1912-04</td>
              <td>23.П1/8462КВ</td>
              <td>
                <div class="label label--success">отрицательный</div>
              </td>
              <td>соот ТР ТС 021, ТР ЕАЭС 051</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>КИЛ ФГБУ "ВНИИЗЖ"</td>
              <td>Антибиотики тетрациклиновой гр</td>
              <td>17.10.2023</td>
              <td>МУК 4.1.1912-04</td>
              <td>23.П1/8462КВ</td>
              <td>
                <div class="label label--success">отрицательный</div>
              </td>
              <td>соот ТР ТС 021, ТР ЕАЭС 051</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>КИЛ ФГБУ "ВНИИЗЖ"</td>
              <td>Токсичные элементы</td>
              <td>17.10.2023</td>
              <td>ГОСТ 33426,31707,53183,33426</td>
              <td>23.П1/8462КВ</td>
              <td>
                <div class="label label--success">отрицательный</div>
              </td>
              <td>соот ТР ТС 021, ТР ЕАЭС 051</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>КИЛ ФГБУ "ВНИИЗЖ"</td>
              <td>Полипептиды</td>
              <td>17.10.2023</td>
              <td>МУК 4.1.3379-16</td>
              <td>23.П1/8462КВ</td>
              <td>
                <div class="label label--success">отрицательный</div>
              </td>
              <td>соот ТР ТС 021, ТР ЕАЭС 051</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>КИЛ ФГБУ "ВНИИЗЖ"</td>
              <td>Пестициды</td>
              <td>17.10.2023</td>
              <td>ГОСТ 32308-2013</td>
              <td>23.П1/8462КВ</td>
              <td>
                <div class="label label--success">отрицательный</div>
              </td>
              <td>соот ТР ТС 021, ТР ЕАЭС 051</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </section>
</main>

<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
<%= htmlWebpackPlugin.options.hidden %>
</body>
</html>
