.add-more {
  display: flex;
  align-self: flex-start;
  padding: 5px 15px;
  background-color: $green;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: $light;
  transition: .2s linear;

  &:hover {
    background-color: darken($green, 10);
  }
}