<!DOCTYPE html>
<html lang="ru">

<head>
  <%= htmlWebpackPlugin.options.head %>
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body class="body">
<%= htmlWebpackPlugin.options.sectionHeader %>
<main class="main">
  <section class="sidebar" id="sidebar"></section>
  <section class="page-content">
    <div class="alert alert--danger" data-alert>
      <p>Ветеринарный сопроводительный документ с указанным кодом не найден</p>
      <button class="alert__close" data-close>
        <i class="ace-icon fa fa-times"></i>
      </button>
    </div>
    <div class="page-content__header" data-content-header>
      <h1 class="title">Проверка ветеринарного сопроводительного документа</h1>
    </div>
    <div class="page-content__body">
      <form action="http://localhost:9000" class="form" method="POST">
        <label class="form__item">
          <span>Код ВСД <sup>*</sup></span>
          <span class="input">
              <input type="text" data-code maxlength="39" min="39" required data-title="Код ветеринарного документа указан некорректно">
              <button type="submit" class="btn btn-sm btn-default">
                  <span>
                      <i class="fa fa-search"></i>
                  </span>
              </button>
          </span>
        </label>
      </form>
    </div>
  </section>
</main>

<%= htmlWebpackPlugin.options.sectionFooter %>
<%= htmlWebpackPlugin.options.temp %>
<%= htmlWebpackPlugin.options.hidden %>
</body>
</html>
